.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 33rem);
    padding: 1rem;
    margin: 1rem;
    position: fixed;
    border: 0.1rem dotted red;
    overflow: scroll;

    .feed-content {
        // background-color: cyan;
        border: 0.1rem dotted blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap:1rem;
        width: 100%;
    }

}

@media screen and (max-width: 991px) {
    .feed {
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        position: unset;
        width: unset;
    }
}