<div class="feed">
    <div class="feed-content">
        <div class="section" id="about">
            <h1>Hello, there!</h1>
            <p class="tx">
                My name is Aiden 👋 a seasoned Full-stack Software Engineer with {{yearOfExperience}}+ years of experience in crafting 
                user-centric and aesthetic software using Angular, React, Node, Figma, and more ... 🍬</p>
            <div class="grid" id="secondary">
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>

                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="small">
                    <div class="tile-content">

                    </div>
                </div>

            </div>
        </div>
        <div class="section" id="portfolio">
            <h1>Featured Works</h1>
            <div class="grid" id="primary">
                <div class="tile" id="big">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="big">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="big">
                    <div class="tile-content">

                    </div>
                </div>
                <div class="tile" id="big">
                    <div class="tile-content">

                    </div>
                </div>


                <div class="grid" id="secondary">
                </div>
            </div>
        </div>
    </div>
</div>