// @import '../../../styles/themes.scss';

.header-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-bar-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 0;
    width: 24rem;
    padding: 2rem;
    margin: 1rem;
    position: absolute;

    .heading-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;

        .avatar-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            max-width: 12rem;
            max-height: 12rem;
            overflow: hidden;
            border-radius: 100%;
            border: 1px solid rgba(0, 0, 0, 0.25);
            margin-bottom: 1rem;
            margin-top: 2rem;

            .avatar {
                min-width: 12rem;
                min-height: 12rem;
                transform: scale(1.01);
                width: 12rem;
                height: 12rem;
                background-size: cover;
                overflow: hidden;
                transition: ease-in-out 0.2s;
                background-image: url('https://raw.githubusercontent.com/imayden/Images-cdn-repo/main/aiden-deng/avatars/light-square.png');
            }

            .avatar:hover {
                transform: scale(1.1);
                background-image: url('https://raw.githubusercontent.com/imayden/Images-cdn-repo/main/aiden-deng/avatars/light-greetings-square.png');
            }

            @media (prefers-color-scheme: dark) {
                .avatar {
                    background-image: url('https://raw.githubusercontent.com/imayden/Images-cdn-repo/main/aiden-deng/avatars/dark-square.png');
                }

                .avatar:hover {
                    background-image: url('https://raw.githubusercontent.com/imayden/Images-cdn-repo/main/aiden-deng/avatars/dark-greetings-square.png');
                }
            }
        }

        .info-container {
            text-align: start;
            margin-bottom: 10rem; // spacer

            .name {
                font-size: 2.15rem;
                font-weight: 500;
                margin-top: 1.5rem;
                margin-bottom: 0;
            }

            .tag {
                font-size: 1.2rem;
                margin-block: 0.5rem;
            }

        }

        @media screen and (max-height: 960px) {
            .info-container {
                margin-bottom: 6rem;
            }
        }

        @media screen and (max-height: 800px) {
            .info-container {
                margin-bottom: 2rem;
            }
        }
    }


    .bottom-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;

        .actions {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 0.5rem;
            padding: 1.5rem;
            margin-top: 1rem;
            padding: 0;
            width: 100%;

            .btn-primary#hire-me {
                text-decoration: none;
                text-align: center;
                width: 50%;
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin-top: 1rem;
            gap: 0;
        }

    }

}

@media screen and (max-width: 991px) {
    .header-bar-content {
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        position: unset;
        width: unset;

        .heading-content {
            align-items: center;
            justify-content: center;

            .info-container {
                text-align: center;
                margin-bottom: 1rem;
            }

        }

        .bottom-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                .btn-primary#hire-me {
                    width: 100%;
                    text-align: center;
                    margin-inline: 2rem;
                }
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;
                gap: 0;
            }
        }

    }
}