<div class="header-bar">
    <div class="header-bar-content">
        <div class="avatar-container">
            <img class="avatar" />
        </div>
        <div class="info-container">
            <h2 class="name">Aiden Deng</h2>
            <p class="tag">6+ Years of Experience</p>
            <p class="tag">Full-Stack Engineer</p>
            <p class="tag">FUI/UX Designer</p>
            <p class="tag">Currently living in the US</p>
            <p class="tag">Angular · React · Node · Figma</p>
        </div>

        <div class="actions">
            <a class="btn-primary" href="mailto:aiden.y.deng@gmail.com" target="_blank">
                Hire Me!</a>
            <a class="btn-secondary"
                href="https://yb4tsxyxizt.larksuite.com/docx/HD5kdl9hZo8JNnxUMSHu2rsGsdh?from=from_copylink"
                target="_blank">
                Get My Resume</a>
        </div>

        <div class="contact-info">
            <a class="btn-link" style="font-size: 0.9rem;" href="mailto:aiden.y.deng@gmail.com" target="_blank">
                Email: aiden.y.deng&commat;gmail.com </a>
            <a class="btn-link" style="font-size: 0.9rem" href="tel:+17084749198">TEL: +1 708-474-9198</a>
        </div>
    </div>
</div>