<div class="header-bar">
    <div class="header-bar-content">
        <div class="heading-content">

            <div class="avatar-container">
                <img class="avatar" />
            </div>
            <div class="info-container">
                <h2 class="name">Aiden Deng</h2>
                <p class="tag">👍 {{yearOfExperience}}+ Years of Experience SWE</p>
                <p class="tag">🧑🏻‍💻 Full-Stack Developer</p>
                <p class="tag">✏️ Web Designer</p>
                <p class="tag">🎨 Angular · React · Node · Figma</p>
            </div>

        </div>

        <div class="bottom-content">

            <div class="actions">
                 <a class="btn-primary" id="hire-me" href="mailto:aiden.y.deng@gmail.com" target="_blank">
                    Hire Me!</a>

            </div>

            <div class="contact-info">

                <p style="font-size: 0.85rem; padding: 0; margin: 0;" title="Built with Angular 18"> &copy; {{ today | date:'yyyy'}} Aiden Deng</p>
            </div>

        </div>

    </div>
</div>